mixin checkbox(name, label, description, type)
  //- name - name attribute value of input element
  //- label - label for input element
  //- description - additional text placed in label
  //- type - one of `checkbox`, 'toggle', 'rich' or 'radio'. The first three is for checkbox type of input element,
  //- the last one is for radio type.
  //- Additional attributes will be send to input block.
  -
    attributes.class = attributes.class ? attributes.class + `checkbox_type_${type}` : `checkbox_type_${type}`;

    if (!attributes.type) {
      if (type === 'checkbox' || type === 'toggle' || type === 'rich') {
        attributes.type = 'checkbox';
      }
      else if (type === 'radio') {
        attributes.type = 'radio';
      }
    }

    let classes;
    if (attributes && attributes.class) {
      classes = attributes.class;
      delete attributes.class;
    }
    else {
      classes = [];
    }

  label.checkbox(class=classes)
    +input()(class='checkbox__input', name=name)&attributes(attributes)
    +checkbox__box
    span.checkbox__label= label
    if description
      span.checkbox__description= description